[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-wtf = "*"
bootstrap-flask = "*"
flask-moment = "*"
faker = "*"
flask-debugtoolbar = "*"
flask-ckeditor = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
unidecode = "*"
requests = "*"
pillow = "*"
flask = "*"
sendgrid = "*"
flask-dropzone = "*"
flask-avatars = "*"
flask-whooshee = "*"

[requires]
python_version = "3.7"
