[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"
httpie = "*"
coverage = "*"

[packages]
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-wtf = "*"
bootstrap-flask = "*"
flask-moment = "*"
faker = "*"
flask-debugtoolbar = "*"
flask-ckeditor = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
unidecode = "*"
requests = "*"
pillow = "*"
flask = "*"
sendgrid = "*"
flask-dropzone = "*"
flask-avatars = "*"
flask-whooshee = "*"
flask-babel = "*"
flask-cors = "*"
flask-socketio = "*"
flask-oauthlib = "*"
markdown = "*"
bleach = "*"
pygments = "*"
flake8 = "*"
flask-caching = "*"

[requires]
python_version = "3.7"
