<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}留言板{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
</head>
<body>
    <main class="cotainer">
        <header>
            <h1 class="text-center display-4">
                <a href="{{ url_for('index')}}" class="text-success"><strong>留言板</strong></a>
                <small style="font-size: 24px" class="text-muted">--shui</small>
            </h1>
        </header>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
        <footer class="text-center">
            {% block footer %}
            ...
            <p><a id="bottom" href="#" title="Go Top">&uarr;</a> </p>
            {% endblock %}
        </footer>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
