{% extends 'base.html' %}
{% block title %}CatChat{% endblock %}


{% block content %}
    <div class="pusher">
        <div class="chat-box">
            <div class="messages">
                {% include 'chat/_messages.html' %}
            </div>
        </div>
        <div class="input-area">
            <div class="ui grid form">
                <div class="ten wide column">
                    <div class="field fluid message-box">
                        {% if current_user.is_authenticated %}
                            <img class="pop-card input-avatar" data-position="bottom left"
                                 data-href="{{ url_for('chat.get_profile', user_id=current_user.id) }}"
                                 src="{{ current_user.gravatar }}">
                            <textarea rows="2" id="message-textarea"
                                      placeholder="在这里填写内容，回车发送"></textarea>
                        {% else %}
                            <div class="ui floating message">
                                请<a href="{{ url_for('auth.login') }}">登陆</a>
                                或<a href="{{ url_for('auth.register') }}">注册</a>后发送消息
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="four wide column right floated right aligned hide-on-mobile">
                    <p>Written by <a href="http://greyli.com">Grey Li</a><br>
                            Fork me on <a href="https://github.com/greyli/catchat">Github</a><br>
                            2017 © <a href="https://helloflask.com">helloflask.com</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var socket = io('/')
    </script>
{% endblock %}